apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

{% for key,value in _kustomize_sections.items() %}
{% if value | d('', true) | length > 0 %}
{{ key }}:{% if value is string %} "{{ value }}"{% else %}

  {{ value | to_nice_yaml | indent(2) }}{% endif %}

{% endif %}
{% endfor %}
