apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

{% for name,content in _kustomize_sections.items() %}
{{ name }}:{% if content is string %} "{{ content }}"{% else %}

  {{ content | to_nice_yaml | indent(2) }}{% endif %}

{% endfor %}
